body{
    background-image: url("..//media/fondo_form.jpg");
    background-color: rgba(224, 255, 255);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}