<!DOCTYPE html>
<html>
    <head>
        <title>Info</title>
        <meta charset="utf-8">
        <meta name="author" content="Torres Molina Emmanuel O.">
        <link rel="stylesheet" href="{{url_for('static', filename='style/normalize.css')}}">
        <link rel="stylesheet" href="../../static/style/normalize.css" type="text/css">
        <link rel="stylesheet" href="{{url_for('static', filename='style/index.css')}}">
        <link rel="stylesheet" href="../../static/style/index.css" type="text/css">
        <link rel="icon" href="{{url_for('static', filename='media/diabetes_icono.ico')}}">
        <script src="https://kit.fontawesome.com/62ea397d3a.js" crossorigin="anonymous"></script>
    </head>
    <body>
        <header>
            <nav class="nav-bar">
                <ul class="nav-bar__ul">
                    <li class="nav-bar__li"><i class="fas fa-home"></i><a href="/">
                        Página de Inicio</a></li>
                    <li class="nav-bar__li"><i class="fas fa-database"></i><a href="/reset">
                        Crear y/o Regenerar DB</a></li>
                    <li class="nav-bar__li"><i class="fas fa-user-lock"></i><a href="/login">
                        Loguearse como Administrador</a></li>
                    <li class="nav-bar__li"><i class="fas fa-info-circle"></i><a href="/info">
                        Información y Contacto</a></li>
                </ul>
            </nav>
            <img src="{{url_for('static', filename='media/info.png')}}">
        </header>
        <div class="div2-form">
            <h1 class="div2-form__h1">SIRCODI</h1>
            <h2 class="div2-form__h2">Sistema de Registro 
                y Control para Personas con Diabetes</h2>
        </div>
        <article>
            <section>
                <p>Antes que nada, me gustaría aclarar que dicha aplicación es una WebApp 
                    diseñada con fines meramente académicos.</p>
                <p>En un futuro, y, luego de ser aún más desarrollado y mejorado podría ser presentado
                    para un proyecto en el cual sirva para las personas y el médico diabetólogo tener
                    un registro de las mediciones del nivel de glucosa en sangre 
                    realizadas únicamente en ayunas, excepto casos especiales.</p>
                <p>De esta manera aumentaría el flujo de la comunicación entre ambos, y, así el médico
                    podría llevar un control de sus pacientes sin siquiera tener un contacto físico.</p>
                <p><b>SIRCODI</b>, como bien lo aclara el título, es un sistema de control y registro
                    para aquellas personas que tienen Diabetes.</p>
                <p>El Registro llevado se realiza una vez que la persona y/o el paciente </p>
                
            </section>
        </article>
        <div class="content-footer">
            <footer>
                <address>
                    <nav class="nav-bar">
                        <ul class="nav-bar__ul">
                            <li class="nav-bar__li"><i class="fas fa-user-circle"></i><a href="">
                                Torres Molina Emmanuel O.</a></li>
                            <li class="nav-bar__li"><i class="far fa-envelope"></i><a href="">
                                emmaotm@gmail.com</a></li>
                            <li class="nav-bar__li"><i class="fab fa-github"></i>
                                <a href="https://github.com/eotorresmolina/proyecto_programador_python" target=_BLANK>
                                    GitHub</a></li>
                        </ul>
                    </nav>
                </address>
            </footer>
        </div>
    </body>
</html>