<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Info</title>
    </head>
    <header>
        <img src="{{url_for('static', filename='media/info.png')}}">
        <h1 style="color:rgba(178, 34, 34)"><b>SIRCODI</b> - Sistema de Registro 
            y Control para Personas con Diabetes</h1>
    </header>
    <body>
        <p>Antes que nada, me gustaría aclarar que dicha aplicación es una WebApp 
            diseñada con fines meramente académicos.</p>
        <p>En un futuro, y, luego de ser aún más desarrollado y mejorado podría ser presentado
            para un proyecto en el cual sirva para las personas y el médico diabetólogo tener
            un registro de las mediciones del nivel de glucosa en sangre 
            realizadas únicamente en ayunas, excepto casos especiales.</p>
        <p>De esta manera aumentaría el flujo de la comunicación entre ambos, y, así el médico
            podría llevar un control de sus pacientes sin siquiera tener un contacto físico.</p>
        <p><b>SIRCODI</b>, como bien lo aclara el título, es un sistema de control y registro
            para aquellas personas que tienen Diabetes.</p>
        <p>El Registro llevado se realiza una vez que la persona y/o el paciente </p>
        
        <footer>
            <address>
                <b>Autor:</b> Torres Molina Emmanuel O.
                <b>Contacto:</b> emmaotm@gmail.com
                <b>Repositorio en GitHub:</b>
                    <a href="https://github.com/eotorresmolina/proyecto_programador_python" target=_BLANK>
                        https://github.com/eotorresmolina/proyecto_programador_python</a>
            </address>
        </footer>
    
    </body>
</html>