<!DOCTYPE html>
<html>
    <body style="background-color:rgba(224, 255, 255)">
        <head>
            <h1 style="color:rgba(178, 34, 34)">Sistema de Logueo como Administrador:</h1>
            <h2 style="color:rgba(178, 34, 34)">Por favor Ingrese su Usuario
                y Contraseña y luego haga Click en "Loguearse".
            </h2>
        </head>
        <p>
            <form action="/login" method="post" target="_self">
                <p><b>Nombre de Usuario:</b> <input type="text" name="username"></p>
                <p><b>Contraseña:</b> <input type="text" name="password"></p>
                <input type="submit" value="Loguearse">
            </form>
        </p>
    </body>
</html>