<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Login</title>
    </head>
    <body style="background-color:rgba(224, 255, 255)">
        <h1 style="color:rgba(178, 34, 34)">Sistema de Logueo como Administrador:</h1>
        <h2 style="color:rgba(178, 34, 34)">Por favor Ingresar Usuario
            y su Código Numérico. Luego haga Click en "Loguearse".
        </h2>
        <p>
            <form action="/login" method="post" target="_self">
                <p><b>Nombre de Usuario:</b> <input type="text" name="username"></p>
                <p><b>Código Numérico:</b> <input type="text" name="numerical_code"></p>
                <input type="submit" value="Loguearse">
            </form>
        </p>
    </body>
</html>