<!DOCTYPE html>
<html>
    <head>
        <title>Tabla de Valores</title>
        <meta charset="utf-8">
        <meta name="author" content="Torres Molina Emmanuel O.">
        <link rel="icon" href="{{url_for('static', filename='media/diabetes_icono.ico')}}">
        <link rel="stylesheet" href="{{url_for('static', filename='style/normalize.css')}}">
        <link rel="stylesheet" href="../../static/style/normalize.css" type="text/css">
        <link rel="stylesheet" href="{{url_for('static', filename='style/index.css')}}">
        <link rel="stylesheet" href="../../static/style/index.css" type="text/css">
        <script src="https://kit.fontawesome.com/62ea397d3a.js" crossorigin="anonymous"></script>
    </head>
    <body style="background-color:rgba(224, 255, 255)">
        <header>
            <nav class="nav-bar">
                <ul class="nav-bar__ul">
                    <li class="nav-bar__li"><i class="fas fa-home"></i><a href="/">
                        Página de Inicio</a></li>
                    <li class="nav-bar__li"><i class="fas fa-database"></i><a href="/reset">
                        Crear y/o Regenerar DB</a></li>
                    <li class="nav-bar__li"><i class="fas fa-user-lock"></i><a href="/login">
                        Loguearse como Administrador</a></li>
                    <li class="nav-bar__li"><i class="fas fa-info-circle"></i><a href="/info">
                        Información y Contacto</a></li>
                </ul>
            </nav>
        </header>
        <h1 style="color:rgba(178, 34, 34)">
            Bienvenido/a:
        </h1>
        <p>
            <h2 style="color:rgba(178, 34, 34)">
                {{name}}
            </h2>
        </p>

        <table class="egt" border="1px">
            <caption>
                <b>Total de Registros Ingresados.</b>
            </caption>
            <thead cellpadding="1.0" cellspacing="1.0">
                <tr>
                    <th><h3><b>Nivel de Glucosa en Ayuna [mg/dl]</b></h3></th>
                    <th><b>Fecha y Hora</b></th>
                </tr>
                {% for c1, c2 in row %}
                    <tr>
                        <td>{{c1}}</td>
                        <td>{{c2}}</td>
                    </tr>
                {% endfor %}
            </thead cellpadding="0" cellspacing="0">
        </table>
        <p>
            <h3>El Promedio de Azúcar en Sangre hasta el Momento es: <b>{{avg}} [mg/dl]</b></h3>
            <h3>La Cantidad de Mediciones Registradas es: <b>{{count}}</b></h3>
        </p>
    </body>
</html>